body{
  background-color: black;
}
#container{
  width:800px;
  margin: auto;
  border-radius: 22px;
  background-color: #333333;
  padding: 1%;
}
#adspace1 {
    width:20%;
    margin: auto;
    border-radius: 14px;
    background-color: #464646;
    float:right;
    text-align: center;
}
#main{
  width:73%;
  padding: 2%;
  border-radius: 14px;
  background-color: #464646;
  float: left;
  text-align: center;
}
img {
  border: 0;
}
header{
  text-align: center;
}
footer{
  clear: both;
  text-align: center;
  font-family: Arial, sans-serif;
}
nav{
  background-color: #666666;
  text-align: center;
  font-family: Arial, sans-serif;
}
nav ul li{
  display: inline;
  list-style-type: none;
}
nav a{
  padding: .5em;
  color:#333333;
  font-weight: bold;
  text-decoration: none;
}
nav a:hover{
  color: white;
  background-color: #666666;
}
h1{
  font-family: Impact, Charcoal, sans-serif;
  font-weight: bold;
  font-size: 22pt;
  color: white;
}
h2{
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 12pt;
    color: white;
    text-align: center;
}
p{
  font-family: Verdana, Geneva, sans-serif;
  color: white;
  font-size: 10pt;
}
a{
  color:white;
  text-decoration: underline;
}
a:hover{
  color:gray;
  text-decoration: underline;
}

table{
  border: solid 3px black;
  border-collapse: collapse;
  width: 80%;
  margin:10px auto;
  color:white;
  background-color: #666666;
}
th, td{
  border: solid 2px black;
}
.center{
  font-style: italic;
  text-align:center;
}
.activities{
  background-color: royalblue;
}
caption{
  padding:4px;
  color:white;
  background-color: midnightblue;
  font-weight: bold;
  font-style: italic;
  font-size: 1.2em;
}
td{
  padding: 6px;
}
tr.stripe{
  background-color: dodgerblue;
}
tr:hover{
  color:white;
  background-color: black;
}
